.nothing__main-content {
	align-items: center;
	background-image: url("");
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	padding: 10px 40px;
	overflow-y:hidden p {
		text-align: center;
	}
}
